body{
  margin: 0;
  font-family: monospace;
  position: fixed;
}
header {
  height: 100px;
  width : 1000%;
  background-color: black;
}

#amz-logo{
  widht: 100px;
  height: 80px;
  margin: 10px 400px 0px 600px;
}
#left {
  display: inline-block;
  width : 40%;
  height: 700px;

}
#time {
  position: absolute;
  color: white;
  font-size: 30px;
  margin: 300px 0 0 350px;
}
#watch-img {
  position: absolute;
  width : 450px;
  height : 450px;
  margin: 95px 0 0 200px;
}
#right {
  display: inline-block;
  float: right;
  width : 50%;
  height: 700px;
}
h1 {
  font-size: 45px;
  margin-top: 130px;
  font-family: serif;
}
h2 {
  font-size: 25px;
  font-weight: 150;
  color: #333;
}
#red{
  border-radius: 3px;
  margin: 4px;
  margin-left: 0;
  border: 18px solid #ca3d22;
  background-color: #ca3d22;
}
#black{
  border-radius: 3px;
  margin: 4px;
  border: 18px solid  #23211f;
  background-color: #23211f;
}
#blue{
  border-radius: 3px;
  margin: 4px;
  border: 18px solid #565681;
  background-color: #565681;
}
#pink{
  border-radius: 3px;
  margin: 4px;
  background-color: #e9c7be;
  border: 18px solid #e9c7be;
}
#purple{
  border-radius: 3px;
  background-color: #8a5362;
  margin: 4px;
  border: 18px solid #8a5362;
}
.feature {
  margin-right: 20px;
  padding: 7px 14px;
  border: 0px none grey;
  border-radius: 4px;
}
#buy {
  margin-top: 20px ;
  padding: 10px 30px;
  font-weight: 200;
  background-color: orange;
  border: 0px none orange;
  border-radius: 5px;
}
